include LICENSE
include README.md
include requirements.txt
include pyproject.toml

recursive-include hts *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include scripts *.sh

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.egg-info
global-exclude .git
global-exclude runs
global-exclude .venv
